
.app .top.fixed.menu .item {
  min-height: 50px;
}

.app .app-view-container {
  padding-top: 7em;
}

textarea:disabled {
	 color: #D3D3D3 !important;
}

body {
	background: #f3f3f5 !important;
}

.test-res {
	padding: 5px;
	color: white;
	font-weight: bold;
}

.vulnerability {
	background-color: #ff0000;
}

.vulnerability a {
	background-color: #ff0000;
	color: white;
}

.not-started-vulnerability {
	background-color: blue;
}

.not-started-vulnerability a {
	background-color: blue;
	color: white;
}

.no-vulnerability {
	background-color: green;
}

.no-vulnerability a {
	background-color: green;
	color: white;
}

.default-vulnerability {
	background-color: gray;
}

.default-vulnerability a {
	background-color: gray;
	color: white;
}

